<div *ngIf="stats" class="container">
  <h1>{{ stats.name | format }} #{{ stats.id }}</h1>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="20px"
    fxLayoutGap.lt-md="0"
  >
    <div *ngIf="getArt()" fxFlex="550px" fxFlex.lt-sm="100%" class="art">
      <img [src]="getArt()" alt="Official ArtWork" />
      <div
        [gdColumns]="stats.sprites.back_default ? '1fr 1fr 1fr 1fr' : '1fr 1fr'"
        gdColumns.lt-sm="1fr 1fr"
        gdAlign="center"
        gdGap="35px"
        class="sprites"
      >
        <img [src]="stats.sprites.front_default" alt="Front Default" />
        <img
          *ngIf="stats.sprites.back_default"
          [src]="stats.sprites.back_default"
          alt="Back Default"
        />
        <img
          *ngIf="stats.sprites.front_shiny"
          [src]="stats.sprites.front_shiny"
          alt="Shiny Front"
        />
        <img
          *ngIf="stats.sprites.back_shiny"
          [src]="stats.sprites.back_shiny"
          alt="Shiny Back"
        />
      </div>
    </div>
    <div fxFlex>
      <div fxLayout="row" fxLayout.lt-lg="column">
        <div fxFlex="35%">
          <h2>Type</h2>
          <div fxLayoutGap="12px" fxLayout>
            <div *ngFor="let type of stats.types">
              <a
                matTooltip="View Type "
                matTooltipShowDelay="600"
                class="type"
                [class]="type.type.name"
                [routerLink]="['/type', type.type.name]"
                >{{ type.type.name | uppercase }}</a
              >
            </div>
          </div>
        </div>
        <div fxFlex>
          <h2>Base Stats</h2>
          <div gdColumns="200px 1fr" gdColumns.lt-md="1fr 1fr" gdGap="10px">
            <div
              *ngFor="let stat of stats.stats"
              gdColumns="130px 1fr"
              gdColumns.lt-sm="125px 1fr"
            >
              <div class="key">{{ stat.stat.name | formatdash }}</div>
              <div>{{ stat.base_stat }}</div>
            </div>
          </div>
        </div>
      </div>
      <h2>Abilities</h2>
      <div
        class="abilities"
        *ngFor="let ability of abilities"
        gdColumns="135px 1fr"
      >
        <div class="key">{{ ability.name | formatdash }}</div>
        <div>{{ getAbilityText(ability) }}</div>
      </div>

      <!-- <h2>Game Versions</h2>
      <div gdColumns="1fr 1fr 1fr" gdGap="10px">
        <div *ngFor="let version of stats.game_indices">
          {{ version.version.name | formatversion }}
        </div>
      </div> -->

      <!-- <h2>Moves</h2>
      <div
        gdColumns="1fr 1fr 1fr 1fr"
        gdColumns.lt-md="1fr 1fr 1fr"
        gdColumns.lt-sm="1fr 1fr"
        gdGap="10px"
      >
        <div *ngFor="let move of getMoves()">
          {{ move.move.name | formatdash }}
        </div>
      </div> -->
      <!-- <div fxLayoutAlign="center" class="more" *ngIf="stats.moves.length > 48">
        <button mat-stroked-button (click)="hide = !hide">
          Show {{ hide ? "More" : "Less" }}
          <i
            class="fa-solid chevron"
            [ngClass]="hide ? 'fa-chevron-down' : 'fa-chevron-up'"
          ></i>
        </button>
      </div> -->
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="20px"
    fxLayoutGap.lt-sm="5px"
    class="bottom"
  >
    <div class="card" [routerLink]="['/view', stats.id - 1]">
      <h3>Previous</h3>
      <img [src]="getSprite(stats.id - 1)" alt="Front Default" />
    </div>
    <i fxFlexAlign="center" class="fa-solid fa-arrow-left-long fa-2x"></i>
    <div class="card current">
      <h3>Current</h3>
      <img [src]="getSprite(stats.id)" alt="Front Default" />
    </div>
    <i fxFlexAlign="center" class="fa-solid fa-arrow-right-long fa-2x"></i>
    <div class="card" [routerLink]="['/view', stats.id + 1]">
      <h3>Next</h3>
      <img [src]="getSprite(stats.id + 1)" alt="Front Default" />
    </div>
  </div>
</div>
