.art {
  text-align: center;
  img {
    width: 100%;
    max-width: 475px;
  }
  .sprites {
    display: inline-grid !important;
    img {
      width: 96px;
      height: 96px;
    }
  }
}

.bottom {
  margin: 30px 0 20px 0;
  .card {
    padding: 12px 15px 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    &.current {
      cursor: default;
    }
  }
  h3 {
    margin-top: 0;
    text-align: center;
  }
}

.card:hover {
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.card.current:hover {
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .bottom {
    .card {
      padding: 3px 5px 0 5px;
    }
  }
  .fa-solid {
    font-size: 18px;
  }
}

.type {
  border-radius: 5px;
  padding: 2px 15px 3px 15px;
  width: fit-content;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
  color: #ffffff;
  text-decoration: none;
}

.chevron {
  position: relative;
  bottom: 2px;
  left: 3px;
}

.more {
  margin-top: 15px;
  button {
    position: relative;
    right: 5%;
    background-color: rgba(95, 133, 117, 0.3) !important;
  }
}

.abilities {
  margin-bottom: 15px;
  .key {
    font-weight: 600;
  }
}
