@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-elevation-z2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.mat-elevation-z3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.mat-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.mat-elevation-z5 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eef2f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec2c0;
  border-radius: 10px;
  border: 3px solid #eef2f0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9ea2a0;
}

body {
  background: #eef2f0 !important;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1500px;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 730px) {
  .container {
    padding: 15px;
  }
}

@-webkit-keyframes slidein {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

@keyframes slidein {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

.fire {
  background: #ff4422;
  border: 1px solid #d40f22;
}
.flying {
  background: #8899ff;
  border: 1px solid #6879df;
}
.normal {
  background: #aaaa99;
  border: 1px solid #8a8a79;
}
.water {
  background: #3399ff;
  border: 1px solid #1379df;
}
.electric {
  background: #ffcc33;
  border: 1px solid #dfac13;
}
.grass {
  background: #77cc55;
  border: 1px solid #57ac35;
}
.ice {
  background: #66ccff;
  border: 1px solid #46acdf;
}
.fighting {
  background: #bb5544;
  border: 1px solid #9b3524;
}
.poison {
  background: #aa5599;
  border: 1px solid #8a3579;
}
.ground {
  background: #ddbb55;
  border: 1px solid #bd9b35;
}
.psychic {
  background: #ff5599;
  border: 1px solid #df3579;
}
.bug {
  background: #aabb22;
  border: 1px solid #8a9b02;
}
.rock {
  background: #bbaa66;
  border: 1px solid #9b8a46;
}
.ghost {
  background: #6666bb;
  border: 1px solid #46469b;
}
.dragon {
  background: #7766ee;
  border: 1px solid #5746ce;
}
.dark {
  background: #775544;
  border: 1px solid #573524;
}
.steel {
  background: #aaaabb;
  border: 1px solid #8a8a9b;
}
.fairy {
  background: #ee99ee;
  border: 1px solid #ce79ce;
}
